.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.close {
  width: 18px;
  height: 18px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
.modal__form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__form-input:focus + & {
    fill: var(--accent-color);
  }
}
.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__form-field {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 10px;
}
.modal__form-message {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;

  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__form-policy-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--second-color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  &::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    margin-right: 9px;
    content: "";
  }
  .modal__form-policy:checked + &::before {
    background-image: url(../images/check.png);
    background-size: cover;
    background-origin: content-box;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
  }
}

.modal__form-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--third-color-text);
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
