:root {
  --accent-color: #2196f3;
  --accent-color-text: #000000;
  --second-color-text: #757575;
  --third-color-text: #ffff;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --third-font: "Oleo Script", cursive;
}
